.sidebar {
    margin-bottom: -800px; /* any large number will do */
    padding-bottom: 800px; 
    overflow: hidden;
    width: 200px;
    background-color: #04acc5;
    float: left;
}
ul{
  list-style-type: none;

}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
.sidebar li a {
  color: white;
} 

.bar{
  float: right;
  padding-right: 10px;
  color: white
}

.App-link {
  color: #61dafb;
}

.sideButton1{
  width: 120px;
  background-color: #04acc5;
  border-radius: 10px;
  border-color: white;
  padding-bottom: 5px;
  color: white;
  outline: 0;

}
.sideButton1 button:focus{
  outline: none;

}
.iconImage{
  width: 20px;
  height: 20px;
  padding:3px;  
  display: table-cell;
  vertical-align: middle; 
  justify-content: center;
  text-decoration: none;

}
.iconBorder{
  display: inline-block;
  background-color: white;
  margin: 5px;
  border-radius: 50%;

}
.icons{
  float: right;
}
/* Nav Bar */
.topnav {
    margin-top: 20px;
    margin-left: 250px;
    height: 0px;
    border-bottom: 80px solid #066360;
    border-left: 150px solid transparent;
    z-index: 2;
  }

/*
.topnav a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    padding: 30px;
    font-size: 17px;
}*/
.navElement{
  padding-top: 10px;
}
.navElement i{
  font-size: 50px;
  color: white;
}
/*.element{
  display: block;
}*/
.upload{
  background-color: #13d3cd;
  height: 250px;
  margin-top: 10px;
  border:0.5px;
  box-shadow: 3px 5px  #f9f9fa;

}
.heading {
  position: relative;
  width: 300px;
  height: 0px;
  margin: 0px auto;
  border-top: 50px solid white;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  z-index: 1;
}

.heading h1 {
  position: absolute;
  top: -45px;
  margin-left: 80px;
 }
.upButton{    
    margin-top: 115px;
    margin-left: 580px;
    font-size: 20px;

}
.upButton button{
  color: #808b96 ;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border-radius: 10px;
  height: 30px;
  width: 150px;
}
.upButton label{
    padding: 10px;
    color: #808b96 ;
    background: white;
    width: 150px;
    text-align: center; 
    display: table;
    border-radius: 10px;
}
input[type="file"] {
    display: none;
}
.galleryTitle{
  margin-left: 670px;
  margin-top:30px;
  font-size: 20px;
}
.cardimage{
  margin: 20px;
  margin-left: 300px;
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: auto auto auto auto auto;

}
.card {
    margin-top: 10px;
    transition: 0.3s;
    width: 80%;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img {
  width:150px;
  border-radius: 8px 8px 8px 8px;
}
.icon{
  margin-left: 100px;
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
}
.element{
  margin-left: 70px;
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
 
}
.element a{
  color: white;
}
.element a:hover{
  color: white;
}
.uploading{
    background-color: white;
    margin-top: 10px;
    height: 6px;
    width: 5px;

}
.aa{
  margin-left: 620px;
  display: grid;
  grid-template-columns: 10px 10px 10px 10px;
  grid-gap: 5px;
}
.gallery{
  margin-top: 100px;
  background-color: #f9f9fa;

}
.galleryTitle{
  position: relative;
  width: 300px;
  height: 0px;
  margin: 0px auto;
  border-top: 50px solid white;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}
.galleryTitle h1 {
  position: absolute;
  top: -40px;
  left: 45px;
}
.heading2 {
  position: relative;
  width: 300px;
  height: 0px;
  margin: 0px auto;
  border-top: 50px solid white;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  text-align: center; 
  vertical-align: middle;
}

.heading2 h1 {
  position: absolute;
  top: -35px;
  font-size: 20px;
  padding-left: 50px;

 }

 .text{
    text-align: center;
    color: white;
 }
 .text1{
    text-align: center;
    color: white;
 }
 .text1 h1{
    font-size: 20px;
 }
 .gallery2{
    background-color: #f9f9fa;
    height: 250px;
    margin-top: 10px;
 }
 .text2{
    text-align: center;
 }
 .text3{
    text-align: center;
    color: orange;

 }
 .text3 h1{
    font-size: 20px;

 }
 .upload-text{
    margin-top: 60px;
 }
 .upload1{
  background-color: #13d3cd;
  height: 300px;
  margin-top: 10px;
  box-shadow: 5px 10px  #e6e6ff;
 }
 .middle-content button{
  float: right;
  margin-top: 10px;
  background-color: orange;
  color: white;
  height: 30px;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;

 }
 .middle-content{
  height: 320px;
 }
.chart{
  margin-left: 200px;


}